<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="header">
        <div id="Logo">
            <div id="LogoContent">
                <a href="/catalog/main"><img src="/images/logo-topbar.gif"></a>
            </div>
        </div>

        <div id="Menu">
            <div id="MenuContent">
                <a href="/cart/view"><img align="middle" name="img_cart" src="/images/cart.gif"></a>
                <img align="middle" src="/images/separator.gif">
                <a href="/account/signonForm" th:unless="${account}">Sign In</a>
                <a href="/account/signOut" th:if="${account}">Sign Out</a>
                <img align="middle" src="/images/separator.gif" th:if="${account}">
                <a href="/account/viewAccount" th:if="${account}">My Account</a>
                <img align="middle" src="/images/separator.gif">
                <a href="/viewHelp">?</a>
            </div>
        </div>

        <div id="Search">
            <div id="SearchContent">
                <form action="/catalog/searchProducts" method="post">
                    <input type="text" name="keyword" size="14"> <input type="submit" name="searchProducts" value="Search">
                </form>
            </div>
        </div>

        <div id="QuickLinks">
            <a href="/catalog/category?categoryId=FISH"><img src="/images/sm_fish.gif"></a>
            <img src="/images/separator.gif">
            <a href="/catalog/category?categoryId=DOGS"><img src="/images/sm_dogs.gif"></a>
            <img src="/images/separator.gif">
            <a href="/catalog/category?categoryId=REPTILES"><img src="/images/sm_reptiles.gif"></a>
            <img src="/images/separator.gif">
            <a href="/catalog/category?categoryId=CATS"><img src="/images/sm_cats.gif"></a>
            <img src="/images/separator.gif">
            <a href="/catalog/category?categoryId=BIRDS"><img src="/images/sm_birds.gif"></a>
        </div>
    </header>

    <footer th:fragment="footer">
        <div id="PoweredBy">
            &nbsp;
            <a href="www.csu.edu.cn">www.csu.edu.cn</a>
        </div>

        <div id="Banner">
            org.csu.stnb.petstore
        </div>

    </footer>
</html>