<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common/template_head::head('List Order')"></head>

<body>
<header th:replace="common/template_menu::header"></header>

<div id="Content">

<h2>My Orders</h2>

<table>
	<tr>
		<th>Order ID</th>
		<th>Date</th>
		<th>Total Price</th>
	</tr>
	<!-- 循环 -->
		<tr th:each="order:${orderList}">
			<td ><a th:text="${order.orderId}" th:href="@{/viewOrder(orderId=${order.orderId})}">1000</a></td>
			<td th:text="${#dates.format(order.orderDate, 'yyyy/MM/dd hh:mm:ss')}">2014/03/23 12:00:00</td>
			<td th:text="${order.totalPrice}">$18.50</td>
<!--			<td th:text="${#numbers.formatDecimal(order.totalPrice, '$#,##0.00')}">$18.50</td>-->
		</tr>
</table>

</div>


	<footer th:replace="common/template_menu::footer"></footer>

</body>
</html>


